# EMS 2018

In [7]:
import pandas as pd
import numpy as np

In [8]:
ems = pd.read_excel('data\\FD_Serie2018_EMS.xlsx', sheet_name= None, skiprows=4)
ems0 = ems['Table 1']
ems0.head()

   Unnamed: 0   Nombre      Tipo  Tamaño  Dec
0         NaN  DOMINIO  Carácter       6    0
1         NaN    CLASE  Carácter       6    0
2         NaN    U_NCO  Carácter       7    0
3         NaN  CVE_ENT  Carácter       2    0
4         NaN  CVE_MUN  Carácter       3    0

In [9]:
ems = ems0.copy()
ems = ems.drop(columns='Unnamed: 0')
ems.to_excel("results\\ems2018.xlsx")