# ENADID 1992

In [58]:
import os

folder_path = "data\\fd_enadid92"

files = os.listdir(folder_path)

files_to_work = []
for f in files:
    if f.endswith('.xlsx'):
        files_to_work.append(f)

In [59]:
import pandas as pd

enadid_dfs = []
for w in files_to_work:
    path_file = os.path.join(folder_path, w)
    enadid_dfs.append(pd.read_excel(path_file))

dtest = enadid_dfs[0]

In [60]:
import numpy as np

dtest['isna'] = dtest['XI  ANTICONCEPCIÓN.\n\nDESCRIPCIÓN'].isna()

nrows = dtest.shape[0]
ncols = dtest.shape[1]

select_subtables = [0]
for i in range(nrows - 1):
    actual_state = dtest.iloc[i, -1] == False
    step_plus = dtest.iloc[i + 1, -1] == True
    if np.logical_and(step_plus, actual_state):
       select_subtables.append(i)
select_subtables.append(nrows - 1)
dtest = dtest.iloc[:, : -1]

In [61]:
one_dfs = []
for m in range(len(select_subtables) - 1):
    one_dfs.append(dtest.iloc[select_subtables[m]: select_subtables[m + 1]])

Ahora, para cada sub-data frame.

In [62]:
new_df = list()
for df in one_dfs:
    tdf = df.dropna(axis = 1, how = 'all').replace({'\n':' '}).ffill()
    new_df.append(tdf)

In [67]:
formal_df = []

for ndf in new_df:

,XI ANTICONCEPCIÓN.\n\nDESCRIPCIÓN,Unnamed: 7,Unnamed: 16,Unnamed: 25,Unnamed: 37
27,RITMO,P11_1i,26.0,3 b\n1,No\n\nNo especificado\n\nSi (Espontáneamente)
28,NaN,NaN,NaN,2,Si (Con ayuda)
29,NaN,NaN,NaN,3 b,No\n\nNo especificado