# EMOE

In [333]:
import pandas as pd
import numpy as np

emoe = pd.read_excel('data\\fd_emoe_serie2018.xlsx', sheet_name=None, skiprows= 1)
ek = list(emoe.keys())

In [334]:
df = emoe[ek[0]]

dfty = list(df.iloc[:, 0].agg(type) == int)

i = 0
first_index = []
for value in dfty:
    if value:
        first_index.append(i)
    i += 1
first_index

first_level = []
for i in range(len(first_index) - 1):
    first_level.append(df.iloc[first_index[i]: first_index[i + 1],:])
first_level.append(df.iloc[first_index[i + 1]: ,:])
s = first_level[0]
s = s.copy()

C:\Users\Tamara\AppData\Local\Temp\ipykernel_8480\2823096049.py:3: FutureWarning: using <class 'type'> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  dfty = list(df.iloc[:, 0].agg(type) == int)

In [335]:
s.iloc[0, 0] = pd.NA
s['nna'] = s.isna().sum(axis = 1)

seltwo = s[s['nna'] == 2]
selindex = list(seltwo.index)

second_level = []
for i in range(len(selindex) - 1):
    second_level.append(s.iloc[selindex[i]:selindex[i + 1], :])
second_level.append(s.iloc[selindex[i + 1]:, :])

u = second_level[0]
u = u.copy()
name = u.iloc[0, 1]
u = u.iloc[1:,:]
u['nna'] = name

second_result = pd.DataFrame()
for level in second_level:
    level = level.copy()
    name = level.iloc[0, 1]
    level = level.iloc[1:,:]
    level['nna'] = name
    second_result = pd.concat([second_result, level])


#### 
try:
    first_result = pd.DataFrame()
    for lev in first_level:
        lev = lev.copy()
        lev.iloc[0, 0] = pd.NA
        lev['nna'] = lev.isna().sum(axis = 1)
        seltwo = lev[lev['nna'] == 2]
        selindex = list(seltwo.index)
        second_level = []
        for i in range(len(selindex) - 1):
            second_level.append(lev.iloc[selindex[i]:selindex[i + 1], :])
            second_level.append(lev.iloc[selindex[i + 1]:, :])
        second_result = pd.DataFrame()
        for level in second_level:
            level = level.copy()
            name = level.iloc[0, 1]
            level = level.iloc[1:,:]
            level['nna'] = name
            second_result = pd.concat([second_result, level])
        first_result = pd.concat([first_result, second_result])
except: 
    print('Hi')

first_result

Hi

,Variable,Descripción,Observaciones,nna
1,p1_1est,Obras Ejecutadas,Es el valor total o parcial (avance de obra) d...,OBRAS EJECUTADAS
2,p1_1estpo,Porcentaje de variación en Obras ejecutadas,NaN,OBRAS EJECUTADAS
4,p1_2est,Obras ejecutas como subcontratista,Es el valor total o parcial (avance de obra) d...,OBRAS EJECUTADAS COMO SUBCONTRATISTA
5,p1_2estpo,Porcentaje de variación en Obras ejecutas como...,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
6,NaN,TIPO DE OBRA EJECUTADA,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
7,p1_3_1estpo,Edificación residencial,Se refiere al tipo de obra realizada en el per...,OBRAS EJECUTADAS COMO SUBCONTRATISTA
8,p1_3_2estpo,Edificación no residencial,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
9,p1_3_3histpo,Infraestructura,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
10,p1_3_4estpo,Trabajos especializados,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
4,p1_2est,Obras ejecutas como subcontratista,Es el valor total o parcial (avance de obra) d...,OBRAS EJECUTADAS COMO SUBCONTRATISTA
5,p1_2estpo,Porcentaje de variación en Obras ejecutas como...,NaN,OBRAS EJECUTADAS COMO SUBCONTRATISTA
7,p1_3_1estpo,Edificación residencial,Se refiere al tipo de obra realizada en el per...,TIPO DE OBRA EJECUTADA
8,p1_3_2estpo,Edificación no residencial,NaN,TIPO DE OBRA EJECUTADA
9,p1_3_3histpo,Infraestructura,NaN,TIPO DE OBRA EJECUTADA
10,p1_3_4estpo,Trabajos especializados,NaN,TIPO DE OBRA EJECUTADA